# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Env files
.env
.env.*

# pytest cache
.pytest_cache/

# VS Code
.vscode/

# Byte-compiled / logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
